# FORMA DE CONEXÂO

# Conexão com Windows Authentication
CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# Server Authentication (Úsuario e senha)
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;User Id=SeuUsuario;Password=SuaSenha;Trusted_Connection=True;TrustServerCertificate=True
